<!DOCTYPE html>
<html>

<head>
    <title>MACD TMP</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.4/dist/angular-nvd3.js"></script>
    <script src="macd_controller.js"></script>

</head>

<body>

    <div ng-app="macdControllerModule" ng-controller="MainCtrl as controller">
    
    <select ng-model="controller.selectedMinutes">
      <option ng-repeat="c in controller.minutes">{{c}}</option>
    </select>
        
        <button class="btn" ng-click="controller.refresh()">Refresh</button>
        
		<nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>

    </div>

</body>

</html>